#box{
    background-color: aqua;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}

/*psuedo class*/
#box:hover{
    background-color:blue ;
}

a:visited{
    color: red;


}

/*psuedo Elements*/

#psuedoElement{
    font-size: 30px;
}

#psuedoElement::before{
    content: "*********";
}

#psuedoElement::after{
    content: "-------------";
}